{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center m-5" style="margin-top: 5rem;">
  <div class="text-center w-auto p-5" style="background-color: #ffffff; width: auto; border-radius: 30px">
    <h1>듀티 일정 생성</h1>
    <hr>
    <h3>원하는 달을 선택하세요</h3>

    {% comment %} <form action="{% url 'schedule:create'  %}" method="POST"> {% endcomment %}
    <form id="createForm">
      {% csrf_token %}
      <input type="month" id="start" class="border-success rounded" style="border-width:1px; text-align:center; padding:3px; margin:5px; border-style:solid;"> <!-- 현재 날짜를 기본값으로 넣고싶다 -->
      <hr>
      <button class="btn btn-outline-success">생성</button>
    </form> 

  </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  const createForm = document.querySelector('#createForm')
  const dateInput = document.querySelector('#start')

  createForm.addEventListener('submit', function (event) {
    event.preventDefault()
    if (dateInput.value) {
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/schedule/duty-exist/${dateInput.value}/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          console.log(response)
          console.log(response.data.flag)
          if (!response.data.flag) {
            window.location.href = `/schedule/create/${dateInput.value}/`
          } else {
            alert('선택하신 날짜에 이미 듀티가 존재합니다.')
          }
        })
      }
  })
</script>
{% endblock script %}

