{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<h1>{{ year}}년 {{ month }}월의 듀티 생성</h1>


{% for team_duty_list in team_duties %}
  <table class="table text-center">
    <thead>
      <tr>
        <th colspan="32">{{ forloop.counter }}팀의 한달 일정</th>
      </tr>
      <tr>
        <td></td>
        {% for day in days %}  
        <td>{{ day }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        {% for weekday in weekdays %}  
        {% if weekday == 'Sun' %}
        <td style="color:#e00404;">{{ weekday }}</td>
        {% elif weekday == 'Sat' %}
        <td style="color:#0094fe;">{{ weekday }}</td>
        {% else %}
        <td>{{ weekday }}</td>
        {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for team_duty in team_duty_list %}
        {% for nurse_info, duties in team_duty.items %}
        <tr>
          <td>{{ nurse_info.1 }}</td>

          {% for duty in duties %}

          {% if duty == 0 %}
          <td data-nurse-name="{{ nurse_info.0 }}" data-date="{{ forloop.counter }}" data-target-duty="{{ duty }}" class="duty">/</td>
          {% elif duty == 1 %}
          <td style="background-color:#2a9d8f;" data-nurse-name="{{ nurse_info.0 }}" data-date="{{ forloop.counter }}" data-target-duty="{{ duty }}" class="duty">D</td>
          {% elif duty == 2 %}
          <td style="background-color:#e9c46a;" data-nurse-name="{{ nurse_info.0 }}" data-date="{{ forloop.counter }}" data-target-duty="{{ duty }}" class="duty">E</td>
          {% else %}
          <td style="background-color:#f4a261;" data-nurse-name="{{ nurse_info.0 }}" data-date="{{ forloop.counter }}" data-target-duty="{{ duty }}" class="duty">N</td>
          {% endif %}

          {% endfor %}

        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  <br>
{% endfor %}
<!--
<form action="{% url 'schedule:create_monthly' start_date %}" method="POST">
-->
<form class="confirmForm" data-confirm-date="{{ start_date }}">
  {% csrf_token %}
  <button class="btn btn-outline-success" style="float: right; width: 70px; height: 38px" id="confirmButton">확정</button>
</form>

<a href="{% url 'schedule:create_monthly' start_date %}">
  <button class="btn btn-outline-success mx-2" style="float: right;">재생성</button>
</a>

{% endblock content %}


{% block script %}
<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  const updates = {}
  const duties = document.querySelectorAll('.duty')
  
  duties.forEach(duty => {
    duty.addEventListener('click', function (event) {
      const date = event.target.dataset.date
      const nurseName = event.target.dataset.nurseName
      const targetDuty = parseInt(event.target.dataset.targetDuty)

      if (updates[`${nurseName}-${date}`] === undefined) {
        updates[`${nurseName}-${date}`] = (targetDuty + 1) % 4
      } else {
        updates[`${nurseName}-${date}`] = (updates[`${nurseName}-${date}`] + 1) % 4
      }

      if (updates[`${nurseName}-${date}`] === 0) {
        duty.style.backgroundColor = '#ffffff'
        duty.innerText = '/'
      } else if (updates[`${nurseName}-${date}`] === 1) {
        duty.style.backgroundColor = '#2a9d8f'
        duty.innerText = 'D'
      } else if (updates[`${nurseName}-${date}`] === 2) {
        duty.style.backgroundColor = '#e9c46a'
        duty.innerText = 'E'
      } else if (updates[`${nurseName}-${date}`] === 3) {
        duty.style.backgroundColor = '#f4a261'
        duty.innerText = 'N'
      }
      console.log(updates)
    })
  })

  const confirmForm = document.querySelector(".confirmForm")
  console.log(confirmForm)
  confirmForm.addEventListener('submit', function (event) {
    event.preventDefault()
    const date = event.target.dataset.confirmDate

    const dots = window.setInterval( function() {
    const wait = document.querySelector('#confirmButton')
    if ( wait.innerText.length > 4 ) 
        wait.innerText = "확정"
    else 
        wait.innerText += "."
    }, 300);

    axios({
      method: 'post',
      url: `http://127.0.0.1:8000/schedule/create/${date}/`,
      headers: {'X-CSRFToken': csrftoken},
      data: {updates:updates},
    })
      .then(response => {
        console.log(updates)

        window.location.href = `/schedule/hospital/${date}`
      })
  })

</script>
{% endblock script %} 
