{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-center">
  <table class="table text-center w-25">
    <thead>
      <tr>
        <th colspan="7"><h1>{{ nurse_name }} 간호사의 {{ year }}년 {{ month }}월 듀티표</h1></th>
      </tr>
      <tr>
        {% for weekday in weekdays %}  
        <td>{{ weekday }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for week in weeks %}
      <tr>

        {% for duty in week %}

        {% if duty == 0 %}
        <td>{{ duty }}</td>
        {% elif duty == 1 %}
        <td style="background-color:#66cc00;">{{ duty }}</td>
        {% elif duty == 2 %}
        <td style="background-color:#4d9900;">{{ duty }}</td>
        {% elif duty == 3 %}
        <td style="background-color:#408000;">{{ duty }}</td>
        {% else %}
        <td style=""></td>
        {% endif %}

        {% endfor %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

