{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-center">
  <table class="table text-center w-auto">
    <thead>
      <tr>
        <th colspan="7"><h1>{{ nurse_name }} 간호사의 {{ year }}년 {{ month }}월 듀티표</h1></th>
      </tr>
      <tr>
        {% for weekday in weekdays %}  
        <td class="p-3">{{ weekday }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for week in weeks %}
      <tr>

        {% for duty in week %}

        {% if duty == 0 %}
        <td class="p-3">/</td>
        {% elif duty == 1 %}
        <td class="p-3" style="background-color:#afd0b3;">D</td>
        {% elif duty == 2 %}
        <td class="p-3" style="background-color:#7eb485;">E</td>
        {% elif duty == 3 %}
        <td class="p-3" style="background-color:#5a9861;">N</td>
        {% else %}
        <td class="p-3" style=""></td>
        {% endif %}

        {% endfor %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

