{% extends 'base.html' %}

{% block content %}
{% if does_exist %}
<table class="table">
  <thead>
    <tr>
      <th scope="col"><h1>{{ profile.name }} 간호사의 프로필 </h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">경력</th>
      <td>{{ WEX }}년</td>
    </tr>
    <tr>
      <th scope="row">만 나이</th>
      <td>{{ age }}세</td>
    </tr>
    <tr>
      <th scope="row">레벨</th>
      <td>{{ profile.level }}</td>
    </tr>
    <tr>
      <th scope="row">사용 연차 수</th>
      <td>{{ profile.PTO }}</td>
    </tr>
    <tr>
      <th scope="row">팀</th>
      <td>{{ profile.team }}</td>
    </tr>
    <tr>
      <th scope="row">OFF 수</th>
      <td>{{ profile.OFF }}</td>
    </tr>
  </tbody>
</table>

<a href="{% url 'accounts:update_profile' %}">프로필 수정</a>
{% else %}

<!-- 프로필이 없는 경우 -->
<h3>아직 {{ nurse }} 간호사의 프로필이 작성되지 않았습니다</h3>
{% if request.user == nurse %}
<a href="{% url 'accounts:create_profile' %}">프로필 작성</a>
{% endif %}


{% endif %}
{% endblock content %}