{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1>일정 수정</h1>

<form action="{% url 'dfn:update' date %}" method="POST">
  {% csrf_token %}

  <table id="formset" class="form">
  {% for form in formset.forms %}
    {% if forloop.first %}
    <thead><tr>
      {% for field in form.visible_fields %}
      <th>{{ field.label|capfirst }}</th>
      {% endfor %}
    </tr></thead>
    {% endif %}
    <tr class="{% cycle row1 row2 %}">
      {% for field in form.visible_fields %}
      <td>{{ field }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>

  <button class="btn btn-outline-success">수정</button>
</form>

{% endblock content %}